/*-------------------*\
    #GENERAL
\*-------------------*/

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.cpm-plugin-wrap{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    margin: 20px 20px 20px 0;
}

p{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    margin: 0 0 15px;
}

img{
    image-rendering: -webkit-optimize-contrast;
    max-width: 100%;
}

a, a:visited{
    color: inherit;
    outline: none;
    text-decoration: none;

    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a:hover, a:visited:hover{
    color: #8f71d4;
    outline: none;
}

a:focus{
    box-shadow: none;
    outline: none;
}

.pull-left{
    float: left;
}

.pull-right{
    float: right;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

hr{
    border: none;
    border-top: 1px solid #eeeeee;
    margin: 40px 0;
}

.border-bottom{
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 30px;
    padding-bottom: 15px;
}

.cpm-plugin-wrap .tabs-wrap .tab-content ul,
.cpm-plugin-wrap .card-block ul{
    list-style-type: disc;
    margin: 1em 0 1em 2em;
}

/*--------------------------------------------------------------
 * ## CPM PLUGIN HEADING
 *--------------------------------------------------------------
 */

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: 600;
    line-height: 1.3;
    margin: 0 0 12px;
    padding: 0;
}

h1{
    font-size: 36px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 24px;
}

h4{
    font-size: 18px;
}

h5{
    font-size: 14px;
}

h6{
    font-size: 12px;
}

.dashicons, .dashicons-before:before{
    font-size: 16px;
    margin-right: 5px;
    vertical-align: middle;
}

/*--------------------------------------------------------------
 * ## CPM PLUGIN GRID (BOOTSTRAP REFERENCE)
 *--------------------------------------------------------------
 */

.row{
    margin-left: -15px;
    margin-right: -15px;
}

.row:before,
.row:after{
    display: table;
    content: " ";
}

.row:after{
    clear: both;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12{
    float: left;
}

.col-xs-1{
    width: 8.33333333%;
}

.col-xs-2{
    width: 16.66666667%;
}

.col-xs-3{
    width: 25%;
}

.col-xs-4{
    width: 33.33333333%;
}

.col-xs-5{
    width: 41.66666667%;
}

.col-xs-6{
    width: 50%;
}

.col-xs-7{
    width: 58.33333333%;
}

.col-xs-8{
    width: 66.66666667%;
}

.col-xs-9{
    width: 75%;
}

.col-xs-10{
    width: 83.33333333%;
}

.col-xs-11{
    width: 91.66666667%;
}

.col-xs-12{
    width: 100%;
}

@media (min-width: 768px){
    .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
        float: left;
    }

    .col-sm-1{
        width: 8.33333333%;
    }

    .col-sm-2{
        width: 16.66666667%;
    }

    .col-sm-3{
        width: 25%;
    }

    .col-sm-4{
        width: 33.33333333%;
    }

    .col-sm-5{
        width: 41.66666667%;
    }

    .col-sm-6{
        width: 50%;
    }

    .col-sm-7{
        width: 58.33333333%;
    }

    .col-sm-8{
        width: 66.66666667%;
    }

    .col-sm-9{
        width: 75%;
    }

    .col-sm-10{
        width: 83.33333333%;
    }

    .col-sm-11{
        width: 91.66666667%;
    }

    .col-sm-12{
        width: 100%;
    }
}


@media (min-width: 992px){
    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
        float: left;
    }

    .col-md-1{
        width: 8.33333333%;
    }

    .col-md-2{
        width: 16.66666667%;
    }

    .col-md-3{
        width: 25%;
    }

    .col-md-4{
        width: 33.33333333%;
    }

    .col-md-5{
        width: 41.66666667%;
    }

    .col-md-6{
        width: 50%;
    }

    .col-md-7{
        width: 58.33333333%;
    }

    .col-md-8{
        width: 66.66666667%;
    }

    .col-md-9{
        width: 75%;
    }

    .col-md-10{
        width: 83.33333333%;
    }

    .col-md-11{
        width: 91.66666667%;
    }

    .col-md-12{
        width: 100%;
    }

}

@media (min-width: 1200px){
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
        float: left;
    }

    .col-lg-1{
        width: 8.33333333%;
    }

    .col-lg-2{
        width: 16.66666667%;
    }

    .col-lg-3{
        width: 25%;
    }

    .col-lg-4{
        width: 33.33333333%;
    }

    .col-lg-5{
        width: 41.66666667%;
    }

    .col-lg-6{
        width: 50%;
    }

    .col-lg-7{
        width: 58.33333333%;
    }

    .col-lg-8{
        width: 66.66666667%;
    }

    .col-lg-9{
        width: 75%;
    }

    .col-lg-10{
        width: 83.33333333%;
    }

    .col-lg-11{
        width: 91.66666667%;
    }

    .col-lg-12{
        width: 100%;
    }
}

/*--------------------------------------------------------------
 * ## CPM PLUGIN CPM-BTN
 *--------------------------------------------------------------
 */

.cpm-plugin-wrap .cpm-btn{
    background: #8f71d4;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: inherit;
    font-weight: 500;
    padding: 10px 25px;
    text-transform: uppercase;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    -webkit-box-shadow: 8px 8px 8px 0 rgba(187, 187, 187, 0.2);
    -moz-box-shadow:8px 8px 8px 0 rgba(187, 187, 187, 0.2));
    box-shadow: 8px 8px 8px 0 rgba(187, 187, 187, 0.2);
}

.cpm-plugin-wrap .cpm-btn:before{
    height: auto;
    line-height: 20px;
    vertical-align: top;
}

.cpm-plugin-wrap .cpm-btn:hover{
    background: #393738;
    color: #ffffff;
}

.cpm-plugin-wrap .cpm-btn.btn2{
    background: #393738;
}

.cpm-plugin-wrap .cpm-btn.btn2:hover{
    background: #8f71d4;
}

/*--------------------------------------------------------------
 * ## CPM PLUGIN FORM
 *--------------------------------------------------------------
 */

.cpm-plugin-wrap form{
    margin: 30px 0;
    max-width: 700px;
    overflow: hidden;
}

.cpm-plugin-wrap form .form-group{
    margin-bottom: 15px;
    overflow: hidden;
}

.cpm-plugin-wrap form input[type=radio],
.cpm-plugin-wrap form input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

.cpm-plugin-wrap .radio-wrap+.radio-wrap{
    margin-left: 15px;
}

.cpm-plugin-wrap form label{
    display: block;
    float: left;
    font-weight: 500;
    padding: 10px 0px 6px;
    width: 20%;
}

.cpm-plugin-wrap form .form-control-wrap{
    display: block;
    float: left;
    width: 80%;
}

.cpm-plugin-wrap form .form-control{
    background: #fafafa;
    border: 1px solid #ddd;
    box-shadow: none;
    border-radius: 4px;
    color: #444;
    font-size: inherit;
    margin: 0;
    padding: 10px;
    width: 100%;

    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.cpm-plugin-wrap form .form-control:not(select){
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.cpm-plugin-wrap form .form-control::-webkit-input-placeholder {
   color: #444;
}

.cpm-plugin-wrap form .form-control:-moz-placeholder { /* Firefox 18- */
   color: #444;
}

.cpm-plugin-wrap form .form-control::-moz-placeholder {  /* Firefox 19+ */
   color: #444;
}

.cpm-plugin-wrap form .form-control:-ms-input-placeholder {
   color: #444;
}

.cpm-plugin-wrap form .form-control:not(select):focus::-webkit-input-placeholder {
   color: transparent;
}

.cpm-plugin-wrap form .form-control:not(select):focus:-moz-placeholder { /* Firefox 18- */
   color: transparent;
}

.cpm-plugin-wrap form .form-control:not(select):focus::-moz-placeholder {  /* Firefox 19+ */
   color: transparent;
}

.cpm-plugin-wrap form .form-control:not(select):focus:-ms-input-placeholder {
   color: transparent;
}

.cpm-plugin-wrap form textarea{
    height: 120px;
    resize: none;
}

.cpm-plugin-wrap form select.form-control{
    height: 38px;
    padding: 5px 10px;
}

.cpm-plugin-wrap form .cpm-btn{
    margin-left: 20%;
}

/********************************************************************************************************/

/*---------------------------*\
    #CPM PLUGIN HEADER-WRAP
\*---------------------------*/

.cpm-plugin-wrap .header-wrap,
.cpm-plugin-wrap .footer-wrap{
    background: #ffffff;
    border-top: 5px solid #8f71d4;
    border-radius: 4px;
    overflow: hidden;
    padding: 20px 15px;
    position: relative;

    -webkit-box-shadow: 8px 8px 8px 0 rgba(187, 187, 187, 0.2);
    -moz-box-shadow: 8px 8px 8px 0 rgba(187, 187, 187, 0.2);
    box-shadow: 8px 8px 8px 0 rgba(187, 187, 187, 0.2);
}

.cpm-plugin-wrap .cpm-logo{
    max-width: 90px;
}

.cpm-plugin-wrap .header-wrap .logo{
    display: inline-block;
    float: left;
    max-width: 90px;
    margin-right: 15px;
    vertical-align: top;
}

.cpm-plugin-wrap .header-wrap .title{
    display: inline-block;
}

.cpm-plugin-wrap .header-wrap h1{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 5px;
    padding: 0;
}

.cpm-plugin-wrap .header-wrap .addbanner-wrap{
    text-align: center;
}

.cpm-plugin-wrap .header-wrap .btn-wrap{
    text-align: right;
}

.cpm-plugin-wrap .header-wrap .cpm-btn{
    margin-left: 5px;
}

/********************************************************************************************************/

/*-------------------------*\
    #CPM PLUGIN BODY-WRAP
\*-------------------------*/

/*--------------------------------------------------------------
 * ## CPM PLUGIN TABS-WRAP
 *--------------------------------------------------------------
 */

.cpm-plugin-wrap .body-wrap{
    margin: 20px 0;
}

.cpm-plugin-wrap .tabs-wrap{
    margin: 0 0 20px;
    min-height: 300px;
    position: relative;
}

.cpm-plugin-wrap .tabs-wrap .tab-menu{
    border: none;
    margin: 0;
    overflow: hidden;
}

.cpm-plugin-wrap .tabs-wrap .tab-menu li{
    background: none;
    border: none;
    float: left;
    margin: 0 5px 0 0;
    padding: 0;

    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    -moz-transform: translateY(8px);
    -ms-transform: translateY(8px);
    -o-transform: translateY(8px);
    transform: translateY(8px);
}

/*.cpm-plugin-wrap .tabs-wrap .tab-menu li.ui-tabs-active{
    -webkit-box-shadow: 8px 8px 0 0 rgba(187, 187, 187, 0.5);
    -moz-box-shadow: 8px 8px 0 0 rgba(187, 187, 187, 0.5);
    box-shadow: 8px 8px 0 0 rgba(187, 187, 187, 0.5);
}*/

.cpm-plugin-wrap .tabs-wrap .tab-menu li.ui-tabs-active,
.cpm-plugin-wrap .tabs-wrap .tab-menu li:hover{
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.cpm-plugin-wrap .tabs-wrap .tab-menu li a {
    background: #8f71d4;
    border: none;
    box-shadow: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #ffffff;
    display: block;
    padding: 12px 30px 14px 25px;
    text-decoration: none;
}

.cpm-plugin-wrap .tabs-wrap .tab-menu li.ui-tabs-active a{
    background: #ffffff;
    color: #8f71d4;
}

.cpm-plugin-wrap .tabs-wrap .tab-content{
    background: #ffffff;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    min-height: 300px;
    padding: 30px;

    -webkit-box-shadow: 8px 8px 8px 0 rgba(187, 187, 187, 0.2);
    -moz-box-shadow: 8px 8px 8px 0 rgba(187, 187, 187, 0.2);
    box-shadow: 8px 8px 8px 0 rgba(187, 187, 187, 0.2);
}

.cpm-plugin-wrap .tabs-wrap .tab-title{
    position: relative;
}

.cpm-plugin-wrap .tabs-wrap .tab-title:before {
    font-family: 'dashicons';
    font-size: 23px;
    margin-right: 10px;
}

.cpm-plugin-wrap .tabs-wrap #general .tab-title:before{
    content: "\f206";
}

.cpm-plugin-wrap .tabs-wrap #options .tab-title:before{
    content: "\f111";
}

.cpm-plugin-wrap .tabs-wrap #advanced .tab-title:before{
    content: "\f108";
}

.cpm-plugin-wrap .tabs-wrap #extra .tab-title:before{
    content: "\f107";
}

/*--------------------------------------------------------------
 * ## CPM PLUGIN CPM-TABLE-WRAP
 *--------------------------------------------------------------
 */

.cpm-plugin-wrap .cpm-table-wrap{
    font-size: 14px;
    margin: 20px 0;
    overflow-x: scroll;
}

.cpm-plugin-wrap .cpm-table-wrap table{
    border-spacing: 0;
    margin: 20px 0;
    width: 100%;
}

.cpm-plugin-wrap .cpm-table-wrap thead th,
.cpm-plugin-wrap .cpm-table-wrap tbody td{
    padding: 15px;
    text-align: left;
}

.cpm-plugin-wrap .cpm-table-wrap thead th{
    border-left: 1px solid #ddd;
}

.cpm-plugin-wrap .cpm-table-wrap tbody td{
    border: none;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.cpm-plugin-wrap .cpm-table-wrap thead th:first-child,
.cpm-plugin-wrap .cpm-table-wrap tbody td:first-child{
    border-left: none;
}

.cpm-plugin-wrap .cpm-table-wrap tbody tr:nth-of-type(odd) td {
    background: #fafafa;
}

/*--------------------------------------------------------------
 * ## CPM PLUGIN SEC-TITLE
 *--------------------------------------------------------------
 */

.cpm-plugin-wrap .sec-title {
    margin-bottom: 30px;
    padding: 15px;
    position: relative;
}

.cpm-plugin-wrap .sec-title:after{
    background: #23282d;
    content: '';
    height: 2px;
    margin-top: -1px;
    position: absolute;
    right: 0;
    top: 50%;
    width: 90%;
    z-index: 0;
}

.cpm-plugin-wrap .sec-title span{
    background: #f1f1f1;
    display: inline-block;
    padding-right: 20px;
    position: relative;
    z-index: 1;
}

.cpm-plugin-wrap .sec-title span:before {
    content: "\f106";
    font-family: 'dashicons';
    display: inline-block;
    margin-right: 10px;
    font-size: 25px;
}

/*--------------------------------------------------------------
 * ## CPM PLUGIN CARD-BLOCK
 *--------------------------------------------------------------
 */

.cpm-plugin-wrap .related-plugins-wrap{
    margin-top: 50px;
}

.cpm-plugin-wrap .card-block{
    background: #ffffff;
    border-radius: 4px;
    margin-bottom: 30px;
    overflow: hidden;

    -webkit-box-shadow: 8px 8px 8px 0 rgba(187, 187, 187, 0.2);
    -moz-box-shadow: 8px 8px 8px 0 rgba(187, 187, 187, 0.2);
    box-shadow: 8px 8px 8px 0 rgba(187, 187, 187, 0.2);
}

.cpm-plugin-wrap .card-block .inner{
    padding-top: 30px;
    padding-bottom: 30px;
}

.cpm-plugin-wrap .card-block figure{
    border-bottom: 3px solid #8f71d4;
    margin: 0;
}

.cpm-plugin-wrap .card-block img{
    width: 100%;
}

.cpm-plugin-wrap .card-block .title-wrap{
    border-bottom: 1px solid #e6e6e6;
    padding: 20px;
}

.cpm-plugin-wrap .card-block .title-wrap .title{
    margin-bottom: 0;
}

.cpm-plugin-wrap .card-block .content{
    padding: 30px 20px;
}

.cpm-plugin-wrap .card-block .cpm-btn{
    margin-top: 20px;
}

/********************************************************************************************************/

/*---------------------------*\
    #CPM PLUGIN FOOTER-WRAP
\*---------------------------*/

.cpm-plugin-wrap .footer-wrap{
    border-top: none;
    border-bottom: 5px solid #8f71d4;
    font-size: 13px;
    font-weight: 500;
}

.cpm-plugin-wrap .footer-wrap span{
    display: block;
    margin-bottom: 5px;
}

.cpm-plugin-wrap .footer-wrap .copyright{
    text-align: right;
}

.cpm-plugin-wrap .footer-nav{
    margin: 12px 0;
    overflow: hidden;
    text-align: center;
}

.cpm-plugin-wrap .footer-nav li{
    display: inline-block;
    margin-left: 10px;
    padding-left: 10px;
    position: relative;
}

.cpm-plugin-wrap .footer-nav li:before {
    content: '|';
    left: -2px;
    position: absolute;
    top: 0px;
}

.cpm-plugin-wrap .footer-nav li:first-child{
    margin-left: 0;
    padding-left: 0;
}

.cpm-plugin-wrap .footer-nav li:first-child:before{
    display: none;
}

/********************************************************************************************************/

/*--------------------------------------------------------------
 * ## RESPONSIVE
 *--------------------------------------------------------------
 */

@media ( max-width: 991px){

    .cpm-plugin-wrap .header-wrap .addbanner-wrap{
        margin: 20px 0;
        text-align: left;
    }

    .cpm-plugin-wrap .header-wrap .btn-wrap,
    .cpm-plugin-wrap .footer-nav,
    .cpm-plugin-wrap .footer-wrap .copyright{
        text-align: left;
    }

}

@media ( max-width: 767px){

    .cpm-plugin-wrap .header-wrap .cpm-btn {
        margin-left: 0;
    }


    .cpm-plugin-wrap .footer-nav li{
        float: left;
        margin-left: 0;
        padding-left: 0;
        width: 50%;
    }

    .cpm-plugin-wrap .footer-nav li:before{
        display: none;
    }

    .cpm-plugin-wrap .tabs-wrap .tab-menu li{
        display: block;
        float: none;
        margin: 1px 0 0;

        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    .cpm-plugin-wrap .tabs-wrap .tab-menu li.ui-tabs-active{
        box-shadow: none;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    .cpm-plugin-wrap .tabs-wrap .tab-menu li a{
        padding: 12px 20px 14px;
    }

    .cpm-plugin-wrap .tabs-wrap .tab-content{
        padding: 20px;
    }

    .cpm-plugin-wrap form label,
    .cpm-plugin-wrap form .form-control-wrap{
        float: none;
        width: 100%;
    }

    .cpm-plugin-wrap form .form-control{
        width: 100%;
    }

    .cpm-plugin-wrap form .cpm-btn{
        margin-left: 0;
    }

}